body{
 margin: 0;
 padding: 0;
 text-align: left;
 font-family: sans-serif;
 background-image: linear-gradient(120deg,#FBFCFC,#27b7cd);
 min-height: 90vh;
 margin-top:10%;
 margin-left:190px;
 
}
div{
  width: 300px;
  position: absolute;
  top: 10%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #ee5253;
  

}
h1
{
	text-align:center;
	font-size: 30px;
	font-weight: 600;
	
	
}
.a
{
	width: 300px;
  position: absolute;
  top: 50%;
  left: 25%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #ee5253;
  text-decoration:none;
	
}
.b
{
	width: 300px;
  position: absolute;
  top: 50%;
  left: 75%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #ee5253;
  text-decoration:none;
	
	
}